<div id="container-exp">
	<div id="trial">
		<h1>Verbal Fluency Tasks</h1>
		<p align="left"><Strong>Instruction: </Strong> 
		<br>--Please say as many words as you can think of that conform to the criterion below within 1 minute.
		<br>--Please hit the "<strong>Record</strong>" button when you are ready. A timer will appear then. The recording will automatically stop after 1 minute.
		
		
		</p>
		<br>
		<p></p>
		<div id="stim"></div>
		<div id="recording" align="center">

        <div id="buttons" align="center">

        <button type="button" id=startRecord class="btn btn-warning btn-lg">
            Record <span class="glyphicon glyphicon-record"></span>
            </button>
            <div id="countdown"></div>

        
        </div>
		<div id="query"></div>
	</div>
</div>
<script>/*<br><strong>Please note the criterion of the second and/or third task may take several seconds to appear on screen. Please do not start until after you see the updated criterion.</strong>*/</script>